@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!-- Toolbar -->
<div class="toolbar-area">
    <div class="btn-toolbar" role="toolbar" aria-label="Aspose.PDF Editor toolbar">
        
        <div class="btn-group me-2" role="group" aria-label="Shapes">
<button alt="Line" id="btnLine" value="Line" class="btn btn-secondary btn-lg" data-bs-toggle="buttons"
                    data-bs-placement="top" title="Line" onclick="annotationSetup('Line');">
                <i class="bi bi-dash"></i>
            </button>
            <button alt="Square" id="btnSquare" value="Square" class="btn btn-secondary btn-lg" data-bs-toggle="buttons"
                    data-bs-placement="top" title="Square" onclick="annotationSetup('Square');">
                <i class="bi bi-square"></i>
            </button>
            <button alt="Circle" id="btnCircle" value="Circle" class="btn btn-secondary btn-lg" data-bs-toggle="buttons"
                    data-bs-placement="top" title="Circle" onclick="annotationSetup('Circle');">
                <i class="bi bi-circle"></i>
            </button>
            <button alt="Polygon" id="btnPolygon" value="Polygon" class="btn btn-secondary btn-lg" data-bs-toggle="buttons"
                    data-bs-placement="top" title="Polygon" onclick="annotationSetup('Polygon');">
                <i class="bi bi-pentagon"></i>
            </button>
            <button alt="Polyline" id="btnPolyLine" value="PolyLine" class="btn btn-secondary btn-lg" data-bs-toggle="buttons"
                    data-bs-placement="top" title="Polyline" onclick="annotationSetup('PolyLine');">
                <i class="bi bi-vector-pen"></i>
            </button>
            <button alt="Ink" id="btnInk" value="Ink" class="btn btn-secondary btn-lg" data-bs-toggle="buttons"
                    data-bs-placement="top" title="Ink" onclick="annotationSetup('Ink');">
                <i class="bi bi-pen"></i>
            </button>
        </div>
        <div class="btn-group me-2" role="group" aria-label="Highlight">
            <button alt="Highlight" id="btnHighlight" value="Highlight" class="btn btn-secondary btn-lg" data-bs-toggle="buttons"
                    data-bs-placement="top" title="Highlight" onclick="annotationSetup('Highlight');">
                <i class="bi bi-pen"></i>
            </button>
            <button alt="Underline" id="btnUnderline" value="Underline" class="btn btn-secondary btn-lg" data-bs-toggle="buttons"
                    data-bs-placement="top" title="Underline" onclick="annotationSetup('Underline');">
                <i class="bi bi-type-underline"></i>
            </button>
            <button alt="Squiggly-underline" id="btnSquiggly" value="Squiggly" class="btn btn-secondary btn-lg" data-bs-toggle="buttons"
                    data-bs-placement="top" title="Squiggly-underline" onclick="annotationSetup('Squiggly');">
                <i class="bi bi-vector-pen"></i>
            </button>
            <button alt="Strikeout" id="btnStrikeOut" value="StrikeOut" class="btn btn-secondary btn-lg" data-bs-toggle="buttons"
                    data-bs-placement="top" title="Strikeout" onclick="annotationSetup('StrikeOut');">
                <i class="bi bi-type-strikethrough"></i>
            </button>
        </div>
        @* <div class="btn-group me-2" role="group" aria-label="Widget">
            <button alt="Pop-up" id="btnPopup" value="Popup" class="btn btn-secondary btn-lg" data-bs-toggle="buttons"
                    data-bs-placement="top" title="Pop-up" onclick="annotationSetup('Popup');">
                <i class="bi bi-chat-right-dots"></i>
            </button>
            <button alt="Widget" id="btnWidget" value="Widget" class="btn btn-secondary btn-lg" data-bs-toggle="buttons"
                    data-bs-placement="top" title="Widget" onclick="annotationSetup('Widget');">
                <i class="bi bi-gear"></i>
            </button>
        </div> *@
        <div class="btn-group me-2" role="group" aria-label="Watermark">
            <button alt="Stamp" id="btnStamp" value="Stamp" class="btn btn-secondary btn-lg" data-bs-toggle="buttons"
                    data-bs-placement="top" title="Rubber stamp" onclick="annotationSetup('Stamp');">
                <i class="bi bi-award"></i>
            </button>
            <button alt="Caret" id="btnCaret" value="Caret" class="btn btn-secondary btn-lg" data-bs-toggle="buttons"
                    data-bs-placement="top" title="Caret" onclick="annotationSetup('Caret');">
                <i class="bi bi-caret-down-fill"></i>
            </button>
            <button alt="Watermark" id="btnWatermark" value="Watermark" class="btn btn-secondary btn-lg" data-bs-toggle="buttons"
                    data-bs-placement="top" title="Watermark" onclick="annotationSetup('Watermark');">
                <i class="bi bi-water"></i>
            </button>
        </div>
        <div class="btn-group me-2" role="group" aria-label="Media">
<button alt="Sound" id="btnSound" value="Sound" class="btn btn-secondary btn-lg" data-bs-toggle="buttons"
                    data-bs-placement="top" title="Sound" onclick="annotationSetup('Sound');">
                <i class="bi bi-volume-up"></i>
            </button>
            <button alt="Movie" id="btnMovie" value="Movie" class="btn btn-secondary btn-lg" data-bs-toggle="buttons"
                    data-bs-placement="top" title="Movie" onclick="annotationSetup('Movie');">
                <i class="bi bi-film"></i>
            </button>
            <button alt="Screen" id="btnScreen" value="Screen" class="btn btn-secondary btn-lg" data-bs-toggle="buttons"
                    data-bs-placement="top" title="Screen" onclick="annotationSetup('Screen');">
                <i class="bi bi-display"></i>
            </button>
        </div>
        

        <div class="btn-group me-2" role="group" aria-label="Text">
            <button alt="Text" id="btnText" value="Text" class="btn btn-secondary btn-lg" data-bs-toggle="buttons"
                    data-bs-placement="top" title="Text" onclick="annotationSetup('Text');">
                <i class="bi bi-fonts"></i>
            </button>
            <button alt="Link" id="btnLink" value="Link" class="btn btn-secondary btn-lg" data-bs-toggle="buttons"
                    data-bs-placement="top" title="Link" onclick="annotationSetup('Link');">
                <i class="bi bi-link-45deg"></i>
            </button>
            <button alt="Free text" id="btnFreeText" value="FreeText" class="btn btn-secondary btn-lg" data-bs-toggle="buttons"
                    data-bs-placement="top" title="Free Text" onclick="annotationSetup('FreeText');">
                <i class="bi bi-text-paragraph"></i>
            </button>
            <button alt="Redact" id="btnRedact" value="Redact" class="btn btn-secondary btn-lg" data-bs-toggle="buttons"
                    data-bs-placement="top" title="Redact" onclick="annotationSetup('Redact');">
                <i class="bi bi-eye-slash"></i>
            </button>
        </div>
    </div>
</div>
