@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!-- Attachments -->
<div class="modal fade" id="divAttach" tabindex="-1" aria-labelledby="H3" data-bs-backdrop="static"
     data-bs-keyboard="false" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="H3">Attachments</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" id="tblAttach">
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>File Description</th>
                            <th>Download File</th>
                            <th>Remove File</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <!-- Add your modal footer content here if needed -->
            </div>
        </div>
    </div>
</div>
