@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div>
    <div id="container" style="text-align: center; overflow: hidden;position: relative;">
        <canvas id="imageView" width="1138" height="760" style="z-index: -1; background-color: GrayText;position: absolute;top:0px; left:0px;">
            <p>
                Unfortunately, your browser is currently unsupported by our web
                application. We are sorry for the inconvenience. Please use one of the
                supported browsers listed below, or draw the image you want using an offline tool.
            </p>
        </canvas>
    </div>
</div>