@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="modal fade" id="myColors" tabindex="-1" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <button id="btnRed" style="border: 1px solid; background-color: Red; height: 22px; width: 22px;"
                        name="red" onclick="selectColor(this);" class="btn btn-outline-secondary btn-sm"
                        data-bs-toggle="button" data-bs-placement="top" title="Red"></button>
                <button id="btnBlack" style="border: 1px solid; background-color: Black; height: 22px; width: 22px;"
                        name="black" onclick="selectColor(this);" class="btn btn-outline-secondary btn-sm"
                        data-bs-toggle="button" data-bs-placement="top" title="Black"></button>
                <button id="btnWhite" style="border: 1px solid; background-color: White; height: 22px; width: 22px;"
                        name="white" onclick="selectColor(this);" class="btn btn-outline-secondary btn-sm"
                        data-bs-toggle="button" data-bs-placement="top" title="White"></button>
                <button id="btnGreen" style="border: 1px solid; background-color: Green; height: 22px; width: 22px;"
                        name="green" onclick="selectColor(this);" class="btn btn-outline-secondary btn-sm"
                        data-bs-toggle="button" data-bs-placement="top" title="Green"></button>
                <button id="btnBlue" style="border: 1px solid; background-color: Blue; height: 22px; width: 22px;"
                        name="blue" onclick="selectColor(this);" class="btn btn-outline-secondary btn-sm"
                        data-bs-toggle="button" data-bs-placement="top" title="Blue"></button>
                <button id="btnGray" style="border: 1px solid; background-color: Gray; height: 22px; width: 22px;"
                        name="gray" onclick="selectColor(this);" class="btn btn-outline-secondary btn-sm"
                        data-bs-toggle="button" data-bs-placement="top" title="Gray"></button>
                <button id="btnYellow" style="border: 1px solid; background-color: Yellow; height: 22px; width: 22px;"
                        name="yellow" onclick="selectColor(this);" class="btn btn-outline-secondary btn-sm"
                        data-bs-toggle="button" data-bs-placement="top" title="Yellow"></button>
            </div>
        </div>
    </div>
</div>
