@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="modal-dialog modal-dialog-centered" tabindex="-1" id="loadingModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="spinner-border" role="status">
                    <span class="sr-only"/>
                </div>
            </div>
        </div>
    </div>
</div>
