@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!-- Toolbar -->
<div class="toolbar-area">
    <div class="btn-toolbar" role="toolbar" aria-label="Aspose.PDF Editor toolbar">

        <div class="btn-group me-2" role="group" aria-label="Upload section">
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <i class="bi bi-upload"></i>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a onclick="NewFileClick()">Create New File</a>
                    </li>
                    <li>
                        <a class="open-uploadModal" data-bs-toggle="modal" data-bs-target="#uploadModal"
                           data-id="uploading" data-bs-placement="top" title="Upload File to Server">
                            Open From
                            Computer
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="btn-group me-2" role="group" aria-label="Page Management section">
            <button onclick="GeneralSetup('Add'); AddPage(); $('#divDel').css('visibility', 'hidden'); return false;"
                    class="btn btn-primary btn-lg" id="btnAddPage" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Add Page" disabled>
                <i class="bi bi-file-earmark-plus"></i>
            </button>
            <button onclick="GeneralSetup('Delete'); DeletePage(); $('#divDel').css('visibility', 'hidden'); return false;"
                    class="btn btn-danger btn-lg" id="btnDeletePage" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Delete Page" disabled>
                <i class="bi bi-file-earmark-minus"></i>
            </button>
            <button class="open-moveModal btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#moveModal"
                    onclick="moveClick(event)" data-id="moving" id="btnMoving" data-bs-placement="top" title="Move Page"
                    disabled>
                <i class="bi bi-journal-arrow-down"></i>
            </button>
        </div>

        <div class="btn-group me-2" role="group" aria-label="Merge section">
            <button class="open-uploadModal btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#uploadModal"
                    onclick="appendClick(event)" data-id="appending" id="btnAppending" data-bs-placement="top"
                    title="Append File" disabled>
                <i class="bi bi-node-plus-fill"></i>
            </button>
        </div>

        <div class="btn-group me-2" role="group" aria-label="Save section">
            <button onclick="GeneralSetup('Save'); SavePdf(); return false;" class="btn btn-success btn-lg" id="btnSave"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Save Pdf File" disabled>
                <i class="bi bi-save"></i>
            </button>
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-bs-toggle="dropdown"
                        data-bs-placement="top" title="Export File" onclick="GeneralSetup('Export');" id="btnExporting"
                        aria-expanded="false" disabled>
                    <i class="bi bi-save-fill"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a onclick="ExportFile('pdf'); return false;">As PDF File</a></li>
                    <li><a onclick="ExportFile('docx'); return false;">As Word File</a></li>
                    <li><a onclick="ExportFile('xls'); return false;">As Excel File</a></li>
                </ul>
            </div>
        </div>

        <div class="btn-group me-2" role="group" aria-label="Page move section">
            <button onclick="GeneralSetup('Previous'); Previous(); $('#divDel').css('visibility', 'hidden'); return false;"
                    class="btn btn-secondary btn-lg" data-bs-toggle="tooltip" id="btnPrevious" data-bs-placement="top"
                    title="Previous Page" disabled>
                <i class="bi bi-arrow-left-square"></i>
            </button>
            <button class="btn btn-secondary btn-lg" data-bs-toggle="tooltip" data-bs-placement="top" id="lblPages"
                    disabled>
                Page 0 Of 0
            </button>
            <button onclick="GeneralSetup('Next'); Next(); $('#divDel').css('visibility', 'hidden'); return false;"
                    class="btn btn-secondary btn-lg" id="btnNext" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Next Page" disabled>
                <i class="bi bi-arrow-right-square"></i>
            </button>
        </div>

        <div class="btn-group me-2" role="group" aria-label="Search">
            <button type="button" class="btn btn-secondary btn-lg dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false" onclick="GeneralSetup('Search');" id="btnSearching" disabled>
                <i class="bi bi-search"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a class="open-moveModal" data-bs-toggle="modal" data-bs-target="#moveModal" data-id="searching"
                       data-bs-placement="top" title="Search Text">Search Text</a>
                </li>
                <li>
                    <a class="open-replaceModal" data-bs-toggle="modal" data-bs-target="#replaceModal"
                       data-id="replacing" data-bs-placement="top" title="Replace Text">Replace Text</a>
                </li>
                <li>
                    <a onclick="ClearSearch()">Clear Search</a>
                </li>
            </ul>
        </div>

        <div class="btn-group me-2" role="group" aria-label="Image section">
            <button type="button" class="btn btn-secondary btn-lg dropdown-toggle open-uploadModal"
                    data-bs-toggle="modal" data-bs-target="#uploadModal" data-id="images" data-bs-placement="top"
                    title="Insert Image" aria-expanded="false" onclick="GeneralSetup('Image');" id="btnImage" disabled>
                <i class="bi bi-image"></i>
            </button>
        </div>

        <div class="btn-group me-2" role="group" aria-label="Edit section">
            <button id="btnRect" value="rect" class="btn btn-secondary btn-lg" data-bs-toggle="buttons"
                    data-bs-placement="top" title="Highlight Mode" onclick="GeneralSetup('Rect');" disabled>
                <i class="bi bi-pencil-square"></i>
            </button>

            <button id="btnRead" value="reading" class="btn btn-secondary btn-lg" data-bs-toggle="buttons"
                    data-bs-placement="top" title="Read Mode" onclick="GeneralSetup('Read');" disabled>
                <i class="bi bi-book"></i>
            </button>

            <button id="btnDrag" value="dragging" class="btn btn-secondary btn-lg" data-bs-toggle="buttons"
                    data-bs-placement="top" title="Drag Mode" onclick="GeneralSetup('Drag');" disabled>
                <i class="bi bi-arrows-move"></i>
            </button>

            <button id="btnTexting" value="texting" class="btn btn-secondary btn-lg" data-bs-toggle="buttons"
                    data-bs-placement="top" title="Text Mode" onclick="GeneralSetup('Text');" disabled>
                <i class="bi bi-fonts"></i>
            </button>
        </div>

        <div class="btn-group me-2" role="group" aria-label="Additional actions">
            <div class="btn-group">
                <button id="btnAttachments" class="btn btn-secondary btn-lg dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false" title="Attachments" disabled>
                    <i class="bi bi-paperclip"></i>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="open-uploadModal" data-bs-toggle="modal" data-bs-target="#uploadModal"
                           data-id="addAttachment" data-bs-placement="top" title="Add Attachment">
                            Add
                            Attachment
                        </a>
                    </li>
                    <li>
                        <a data-id="attachment" data-bs-toggle="modal" data-bs-target="#divAttach"
                           data-bs-placement="top" title="View Attachments" onclick="GeneralSetup('Attach');">
                            View
                            Attachments
                        </a>
                    </li>
                </ul>
            </div>

            <button id="btnSignature" value="signature" class="btn btn-secondary btn-lg" data-bs-toggle="buttons"
                    data-bs-placement="top" title="Signature" onclick="GeneralSetup('signature');" disabled>
                <i class="bi bi-vector-pen"></i>
            </button>
        </div>
    </div>
</div>


<div id="divDel" class="panel panel-success" style="position: absolute; z-index: 30; visibility: hidden;">
    <div class="panel-body">
        <button type="button" value="cancel" id="btnDel" onclick="DelShape();" class="btn btn-danger">
            <i class="bi bi-x-circle"></i>
        </button>
    </div>
</div>