@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="alert alert-success" style="display:none" id="savingModal">
    File successfully saved
</div>
<div class="alert alert-danger" role="alert" style="display:none" id="errorModal">
    Unknown error
</div>