@using Aspose.PDF.Editor.Models;
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Editor"];
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">

            <main role="main" class="pb-3">
                <partial name="_Editor" />
            </main>
        </div>
        <div class="col-md-3 side-panel collapse"  id="sidePanel">
                <partial name="_AnnotationToolbar" />
        </div>
    </div>
</div>
<!-- Button to toggle the side panel -->
@section Scripts {
    <script type="text/javascript" src="~/js/api/document.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/api/page.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/api/search.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/api/shape.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/api/attachment.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/api/signature.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/setup.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/control/dialog.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/control/navigation.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/control/toolbar.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/control/canva.js" asp-append-version="true"></script>

    <script type="text/javascript" src="~/js/model/annotation_model.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/model/model_form_builder.js" asp-append-version="true"></script>
}