@using Aspose.PDF.Editor.Models;
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Editor"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Editor"]</h1>
    <partial name="_Editor" />
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/editor.js" asp-append-version="true"></script>
}