@using Aspose.PDF.Editor.Models;
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Editor"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Editor"]</h1>
    <partial name="_Editor" />
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/api/document.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/api/page.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/api/search.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/api/shape.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/api/attachment.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/api/signature.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/setup.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/control/dialog.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/control/navigation.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/control/toolbar.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/control/canva.js" asp-append-version="true"></script>
}