@using Aspose.PDF.Editor.Models;

@{
    ViewData["Title"] = "Pdf Editor";
}

<div class="text-center">
    <h1 class="display-4">Aspose.PDF Editor</h1>
    <partial name="_Editor" />
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/editor.js" asp-append-version="true"></script>
    <script>
        'use strict';
        window.asposeViewerAPI = '/pdf/editor/api/';
    </script>
}