@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Policy"];
}

<h1>@ViewData["Title"]</h1>

<p>@Localizer["PolicyDescription"]</p>
<a href="https://docs.aspose.com/pdf/net/licensing/">License details</a>