@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<ul>
    <li><strong>Website:</strong> <a href="http://www.aspose.com" rel="nofollow">www.aspose.com</a></li>
    <li><strong>Product Home:</strong> <a href="https://products.aspose.com/pdf/net" rel="nofollow">Aspose.Pdf for .NET</a></li>
    <li><strong>Download:</strong> <a href="https://www.nuget.org/packages/Aspose.Pdf/" rel="nofollow">Download Aspose.Pdf for .NET</a></li>
    <li><strong>Documentation:</strong> <a href="https://docs.aspose.com/display/pdfnet/Home" rel="nofollow">Aspose.Pdf for .NET Documentation</a></li>
    <li><strong>Free Support:</strong> <a href="https://forum.aspose.com/c/pdf" rel="nofollow">Aspose.Pdf for .NET Free Support Forum</a></li>
    <li><strong>Paid Support:</strong> <a href="https://helpdesk.aspose.com/" rel="nofollow">Aspose.Pdf for .NET Paid Support Forum</a></li>
    <li><strong>Blog:</strong> <a href="https://blog.aspose.com/category/aspose-products/aspose-pdf-product-family/" rel="nofollow">Aspose.Pdf for .NET Blog</a></li>
</ul>