<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>PDF Translator Aspose.PDF</title>
    <meta name="description"
          content="Best PDF translator online. Upload your file and get translation into popular languages. It secure and private.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Language" content="en">

    <meta name="theme-color" content="#2871e6" />
    <link href="/css/site.css" rel="stylesheet" />

    @RenderSection("Scripts", required: true)
</head>
<body>
    @RenderBody()
</body>
</html>