@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Aspose.PDF Demo</h1>
    <a href="/Home/Generate" class="btn btn-link">GENERATE PDF</a>
    |
    <a href="/Home/Convert/xps-to-pdf" class="btn btn-link">CONVERT XPS TO PDF</a>
    |
    <a href="/Home/Convert/pdf-to-jpeg" class="btn btn-link">CONVERT PDF TO JPEG</a>
</div>
